<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv = "refresh" content = "2; url = proxy.ashx"/>
    <title>Resource Proxy</title>
</head>
<body>
@{ RenderBody(); }
</body>
</html>
